{% load static %}
<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        {% for user in users %}
            <h2>name: {{ user.name }}</h2>
            <p>Age: {{ user.age }}</p>
            {% if user.profile_pic %}
                <img src="{{ user.profile_pic.url }}" alt="{{ user.name }}'s Profile Picture" width="200">
            {% else %}
                <p>No profile picture available.</p>
            {% endif %}
        {% endfor %}
    </body>
</html>